/* You can add global styles to this file, and also import other style files */
@use './custom-theme';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f6f7f8;
  
  &.dark-theme {
    background-color: #101922;
  }
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}
.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap3{
  gap: 0.75rem;
}
