mat-toolbar{
    border-bottom: 1px solid #dbdbdb;
    box-shadow: -1px 4px 2px -2px #efefef;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    font-family: "Inter", sans-serif;
    .title-container{
        align-items: center;
        img{
            width: 46px;
            height: 46px;
        }
        span{
            padding-left: 15px;
            font-size: 1.25rem;
            font-weight: 700;
            letter-spacing: -0.025em;
            margin: 0;
            color: #0f172a;
        }
    }
}

